/*  =========================   SUMMARY   =========================

        - Imports;
    -----------------------------------
        - Custom fonts;
    -----------------------------------
        - HTML main style;
    -----------------------------------
        - Background animation;
    
        - Home;
        - Content;
    -----------------------------------
        - Dark/Light themes;
    -----------------------------------
        - Footer;
    -----------------------------------
        - Screen responsivity
    -----------------------------------
*/


/*  #region IMPORTS */



/*  #endregion IMPORTS */


/*  #region CUSTOM FONTS */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Nunito:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Quicksand:wght@300;400;500;600;700&display=swap');

/*font-family: 'Comfortaa', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Quicksand', sans-serif; */

/*  #endregion CUSTOM FONTS */


/*  #region HTML */

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}
html {
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 3px;
    color: white;
}
body {
    overflow-x: hidden;

    background-color: rgb(1, 1, 19);
}

/*  #endregion HTML main style */


/*  #region SCROLLBAR */

:root {
    scrollbar-color: rgb(210,210,210) rgb(46,54,69) !important;
    scrollbar-width: thin !important;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(63, 61, 70, 0.8);
    border-radius: 5px;

    transition: all .6s;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(108, 106, 116, 0.8);
}
::-webkit-scrollbar-corner {
    display: none;
}

/* #endregion SCROLLBAR */


/*  #region HOME */

#gradientBar {
    top: 0;
    left: 0;
    position: sticky;

    width: 100%;
    height: 5px;

    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
    background-size: 1800% 1800%;

    animation: rainbowAnim 10s ease infinite;
}
@keyframes rainbowAnim {
    0% {
        background-position:0% 80%
    }
    50% {
        background-position:100% 20%
    }
    100% {
        background-position:0% 80%
    }
}

.content-wrap {
    width: 100%;
    min-height: 100vh;
}

.home {
    width: 100%;
    height: 60vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: linear-gradient(to bottom, #773d8a, #3a2054, rgb(1, 1, 19));
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
#title {
    font-size: 3em;
    padding: 2rem;
}
.home > #firstParagraph {
    text-align: left;
}
.home > #secondParagraph {
    text-align: right;
}

/*  #endregion HOME */


/* #region CONTENT */

.main-content {
    width: 100%;
    height: 120vh;

    padding: 3rem;
}
.search-bar {
    width: 100%;
    height: 32px;
    padding: 0 3rem;
    margin: 1rem 0;
}
#shapeNameInput {
    background-color: #54525c49;
    border: none;
    border-radius: 5px;

    box-shadow: 2px 2px 3px 1px #141318e7 inset;

    height: 30px;
    width: 100%;
    padding: 5px;

    font-family: 'Quicksand', sans-serif;
    letter-spacing: 2px;
    color: #ffffff;
    font-size: 16px;

    transition: all .5s;
}
#shapeNameInput:focus {
    background-color: #2e2c35cb;
}

.shape-gallery {
    width: 100%;
    height: 80%;

    padding: 2rem;
    margin: 3rem 0;
    border: 1px solid rgba(63, 61, 70, 0.8);
    border-radius: 15px;
    overflow-y: scroll;

    scrollbar-color: rgb(210,210,210) rgb(46,54,69) !important;
    scrollbar-width: thin !important;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 5rem;
}

.container {
    height: 300px;
    width: 45%;
}
.container > .shape-container {
    width: 100%;
    height: 250px;

    display: flex;
    justify-content: center;
}
.container > .description {
    height: 50px;
    width: 100%;
    border: 1px solid white;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.description p {
    font-size: .8em;
}
.shape {
    width: 225px;
    height: 225px;
    border: 1px solid white;
}


/* #region BORDER-RADIUS SHAPES */

#shape1 {
    border-radius: 50%;
    background: linear-gradient(to bottom, #ff007b, #eb6b10, #ff8a37);
}
#shape2 {
    border-radius: 15% 50% 15% 50% / 15% 50% 15% 50%;
    background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
}
#shape3 {
    border-radius: 65% 35% 82% 18% / 80% 58% 42% 20%;
    background: linear-gradient(to top, #03001e, #7303c0, #ec38bc, #fdeff9);
}
#shape4 {
    border-radius: 13% 87% 64% 36% / 12% 47% 53% 88%;
    background: linear-gradient(to bottom, #f5707d, #630b4a, #a00073);
}
#shape5 {
    border-radius: 66% 34% 29% 71% / 33% 66% 34% 67%;
    background: linear-gradient(to right, #ff355d, #4861df);
}
#shape6 {
    border-radius: 50% 50% 10% 10% / 75% 75% 10% 10%;
    background: linear-gradient(to bottom, #ffeaea, #f0506d, #c01f6a);
}
#shape7 {
    border-radius: 10% 10% 50% 50% / 10% 10% 75% 75%;
    background: linear-gradient(to bottom, #ff8bb0, #c33764, #6a308c, #040938);
}
#shape8 {
    border-radius: 50% 50% 50% 50% / 30% 30% 60% 60%;
    background: linear-gradient(to right, #6cffae, #159981, #2988aa, #155799);
}

/* #endregion BORDER-RADIUS SHAPES */


/* #endregion CONTENT */


/*  #region FOOTER */

footer {
    height: 32px;
    width: 100%;

    bottom: -1;
    left: 0;
    position: absolute;
    
    background-color: #232227;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
footer a {
    color: #fd004c;
    text-decoration: none;
    transition: color .3s;
}

footer a:hover { color: #ff4870; }

.separator { margin: 0px 25px; }

.links > a { margin: 0px 15px; }

/*  #endregion FOOTER */


/*  #region RESPONSIVE LAYOUT */



/*  #endregion RESPONSIVE LAYOUT */

