/*  =========================   SUMMARY   =========================

        - Imports;
    -----------------------------------
        - Custom fonts;
    -----------------------------------
        - HTML main style;
    -----------------------------------
        - Background animation;
    
        - Home;
        - Content;
    -----------------------------------
        - Dark/Light themes;
    -----------------------------------
        - Footer;
    -----------------------------------
        - Screen responsivity
    -----------------------------------
*/


/*  #region Imports */

/*  #endregion Imports */


/*  #region Custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Nunito:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Quicksand:wght@300;400;500;600;700&display=swap');

/*font-family: 'Comfortaa', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Quicksand', sans-serif; */

/*  #endregion Custom fonts */


/*  #region HTML main style */

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}
html {
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 3px;
    color: white;
}
body {
    background-color: #111827;

    overflow-x: hidden;
}

/*  #endregion HTML main style */

/*  #region Custom Scrollbar style */

::-webkit-scrollbar {
  width: 5px;
  /* display: none; */
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #1413183c;
    border-radius: 5px;

    transition: all .6s;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(63, 61, 70, 0.8);
}
::-webkit-scrollbar-corner {
    display: none;
}

/* #endregion Custom Scrollbar style */


/*  #region Home */

#gradientBar {
    top: 0;
    left: 0;
    position: sticky;

    width: 100%;
    height: 5px;

    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
    background-size: 1800% 1800%;

    animation: rainbowAnim 10s ease infinite;
}
@keyframes rainbowAnim {
    0% {
        background-position:0% 80%
    }
    50% {
        background-position:100% 20%
    }
    100% {
        background-position:0% 80%
    }
}

.content-wrap {
    width: 100%;
    min-height: 100vh;
}

.home {
    width: 100%;
    height: 60vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
#title {
    font-size: 3em;
}


/*  #endregion */

.main-content {
    width: 100%;
    height: 120vh;

    background-color: rgba(5, 5, 15, 0.5);

    padding: 3rem;
}
.search-bar {
    width: 100%;
    height: 32px;
    padding: 0 3rem;
    margin: 1rem 0;
}
#shapeNameInput {
    background-color: #54525c49;
    border: none;
    border-radius: 5px;

    box-shadow: 2px 2px 3px 1px #141318e7 inset;

    height: 30px;
    width: 100%;
    padding: 5px;

    font-family: 'Quicksand', sans-serif;
    letter-spacing: 2px;
    color: #ffffff;
    font-size: 16px;

    transition: all .5s;
}
#shapeNameInput:focus {
    background-color: #2e2c35cb;
}

.shape-gallery {
    width: 100%;
    height: 80%;

    padding: 2rem;
    margin: 3rem 0;
    border: 1px solid white;
    overflow-y: scroll;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 5rem;
}

.container {
    height: 300px;
    width: 45%;
}
.container > .shape-container {
    width: 100%;
    height: 250px;

    display: flex;
    justify-content: center;
}
.container > .description {
    height: 50px;
    width: 100%;
    border: 1px solid white;
}
.description p {
    font-size: .8em;
}
.shape {
    width: 225px;
    height: 225px;
    border: 1px solid white;

    border-radius: 25% 25% 25% 25% / 50% 50% 50% 50%;
    background: linear-gradient(to bottom, #ee0979, #ff6a00);
}

/*  #endregion Content */


/*  #region Dark/Light themes */

/*  #endregion Dark/Light themes */


/*  #region Footer */

footer {
    height: 32px;
    width: 100%;

    bottom: -1;
    left: 0;
    position: absolute;
    
    background-color: #232227;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
footer a {
    color: #fd004c;
    text-decoration: none;
    transition: color .3s;
}

footer a:hover { color: #ff4870; }

.separator { margin: 0px 25px; }

.links > a { margin: 0px 15px; }

/*  #endregion Footer */


/*  #region Screen responsivity */

/*  #endregion Screen responsivity */
